.cell {
    border: 1px rgba(0, 0, 0, 0.336) solid;
    background-color: rgba(255, 255, 255, 1);
  }
  .cell:hover {
    background-color: aquamarine !important;
  }

.active {
    background-color: cadetblue;
}
#grid-container {
    display: grid;
    background-color: beige;
    height: 50vw;
    width: 50vw;
    box-sizing: content-box;
    border: 1px rgba(0, 0, 0, 0.336) solid;
}